*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
body,html{
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #010918;
    color: #fff;
}
.heading-span{
    color: orange;
}


/*______________________________________Footer________________________________________*/

.footer-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    height: 4rem;
    width: 9rem;
    margin: 10px;
}
.footer-text p{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff82;
    text-align: left;
}
h3{
    text-align: left;
    padding: 10px;
    margin: 10px;
}
.footer-section li{
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff82;
    text-align: left;
    padding-left: 10px;
    
}
.footer-section .line{
    color: #fff;
    height: 2px;
    width: 80%;
}
.copyrights h1{
    padding: 10px;
    margin-top: 10px;
    font-size: 64px;
    font-weight: 700;
}
.copyrights h1 span{
    color: #FD9E18;
}
.gradient .blobGra{
    
        z-index: 9;
        position: absolute;
        opacity: 0.43;
        width: 164px;
        aspect-ratio: 1/1;
        animation: animate 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite
          alternate forwards;
        filter: blur(60px);
        background: linear-gradient(
          47deg,
          #FD9E18 21%,
          rgb(241, 140, 8) 47%,
          #F96F2F 69% 
        );
}